@font-face {
  font-family: "Japanese";
  src: url("../public/fonts/japanese-3017/japanese3017.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Red Rose";
  src: url("../public/fonts/red-rose/RedRose-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Red Rose";
  src: url("../public/fonts/red-rose/RedRose-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Red Rose";
  src: url("../public/fonts/red-rose/RedRose-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Red Rose";
  src: url("../public/fonts/red-rose/RedRose-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Red Rose";
  src: url("../public/fonts/red-rose/RedRose-Bold.ttf");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-red-rose;
  }
}
@layer components {
  .bg-ampera {
    background: linear-gradient(360deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
      url("../public/background/ampera.png");
  }
  .bg-gradient {
    background: linear-gradient(360deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  .button-shadow-primary {
    box-shadow: 0px 2px 5px 5px rgba(196, 0, 24, 0.2);
  }
  .button-primary {
    @apply text-center border-[3px]  border-red-secondary bg-red-primary hover:bg-red-primary-semibold active:bg-red-primary-bold text-white rounded-full py-1 md:py-3 lg:button-shadow-primary transition;
  }
  .button-secondary {
    @apply text-center border-[3px]  border-red-primary bg-slate-50 hover:bg-slate-100 active:bg-slate-200 text-red-primary rounded-xl lg:rounded-full py-1 md:py-3 lg:button-shadow-primary transition;
  }
  .button-secondary-alt {
    @apply text-center border-[3px]  border-red-secondary bg-transparent hover:bg-red-primary-semibold active:bg-red-primary-bold text-white rounded-full py-1 md:py-3 lg:button-shadow-primary transition;
  }
  .active-button {
    @apply bg-red-700 outline-1 outline-white;
  }
}
@layer utilities {
}
